{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for conference in conferences %}

        {# here will be shown the result from my __toString function in the Conference Entity #}
        <h4>{{ conference }} Conference</h4>

        {# Add a link to the Conference show page by using the slug #}
        {# When you use the path function to get the URL, you are protected to URL changes #}
        {# The parameter slug will be posted like a Twig-map #}
        <p>
            <a href="{{ path('conference', { slug: conference.slug }) }}">View</a>
        </p>

    {% endfor %}
{% endblock %}
